@using Memberships.Areas.Admin.Models
@model IEnumerable<SubscriptionProductViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.Partial("_CreateButtonPartial")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.ProductTitle)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.SubscriptionTitle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(m => item.ProductTitle)
            </td>
            <td>
                @Html.DisplayFor(m => item.SubscriptionTitle)
            </td>
            <td>
                @{
                    var buttonModel = new ButtonModel();
                    buttonModel.AddOrUpdateParameter(nameof(item.ProductId), item.ProductId.ToString());
                    buttonModel.AddOrUpdateParameter(nameof(item.SubscriptionId), item.SubscriptionId.ToString());
                }
                @Html.Partial("_TableButtonsPartial", buttonModel)
            </td>
        </tr>
    }

</table>
